{% extends 'base.html' %}
{% load static %}
{% block content %}
<p>POSTLARIM</p>
       <!-- Main Content-->
       <div class="container px-4 px-lg-5">
           <div class="row gx-4 gx-lg-5 justify-content-center">
               <div class="col-md-10 col-lg-8 col-xl-7">
                   {% for post in posts_queryset %}
                   <!-- Post preview-->
                   <div class="post-preview">
                       <a href="{% url 'post_detail_page' post_id=post.id %}">
                           <h2 class="post-title">{{post.post_title}}</h2>
                           <h3 class="post-subtitle">{{post.post_subtitle}}</h3>
                       </a>
                       <p class="post-meta">
                           Posted by
                           <a href="{% url 'post_detail_page' post_id=post.id %}">{{ post.user_id }}</a>
                           {{post.post_date}}
                       </p>
                   </div>
                   <hr class="my-4" />
                   {% endfor %}
                   <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
               </div>
           </div>
       </div>

{% endblock %}